[workspace]
members = [
    "./crates/*"
]
edition = "2024"
resolver = "3"
version = "0.1.0"
rust-version = "1.87"

[profile.wasm-release]
inherits = "release"
debug = true # wasm-split
lto = true # wasm-split

[profile.wasm-dev]
inherits = "dev"
#lto = true # wasm-split
#debug = true # wasm-split
