[package]
name = "html-extractor"
license = "AGPL-3.0-or-later"
edition = "2024"
version = "0.1.2"

[lib]
proc-macro = true

[dependencies]
syn.workspace = true
quote.workspace = true
proc-macro2.workspace = true
itertools.workspace = true
