name: Release extension

on:
  workflow_dispatch:
    inputs:
      publish:
        required: true
        type: boolean

permissions:
  contents: write # write tags
  id-token: write

jobs:
  build-and-sign:
    runs-on: self-hosted
    outputs:
      version: ${{ steps.version.outputs.VERSION }}
    steps:
    - name: Prerequisites
      run: |
        docker --version
        jq --version
        gh --version
    - uses: actions/checkout@v4
    - name: Extract version
      id: version
      run: |
        VERSION=$(jq -r .version tucan-plus-extension/manifest.json)
        echo "VERSION=$VERSION" >> "$GITHUB_OUTPUT"
    - run: |
        echo ${{ secrets.CHROMIUM_EXTENSION_SIGNING_KEY }} | base64 --decode > cert.pem
        # https://addons.mozilla.org/en-US/developers/addon/api/key/
        WEB_EXT_API_KEY=${{ secrets.WEB_EXT_API_KEY }} WEB_EXT_API_SECRET=${{ secrets.WEB_EXT_API_SECRET }} CHROMIUM_EXTENSION_SIGNING_KEY=$PWD/cert.pem nix run -L .#publish
    - uses: actions/upload-artifact@v4
      with:
        name: tucan-plus-extension-${{ steps.version.outputs.VERSION }}-crx
        path: out/tucan-plus-extension-${{ steps.version.outputs.VERSION }}.crx
    - uses: actions/upload-artifact@v4
      with:
        name: tucan-plus-extension-${{ steps.version.outputs.VERSION }}-xpi
        path: out/tucan-plus-extension-${{ steps.version.outputs.VERSION }}.xpi
  release:
    runs-on: self-hosted
    needs: [build-and-sign]
    steps:
    - name: Download extension files
      uses: actions/download-artifact@v5
      with:
        name: tucan-plus-extension-${{ needs.build-and-sign.outputs.version }}-crx
    - name: Download extension files
      uses: actions/download-artifact@v5
      with:
        name: tucan-plus-extension-${{ needs.build-and-sign.outputs.version }}-xpi
    - run: |
        mkdir pages
        cp out/tucan-plus-extension-${{ needs.build-and-sign.outputs.version }}.crx pages/
        cp out/tucan-plus-extension-${{ needs.build-and-sign.outputs.version }}.xpi pages/
        cat << EOF > pages/updates.xml
        <?xml version='1.0' encoding='UTF-8'?>
        <gupdate xmlns='http://www.google.com/update2/response' protocol='2.0'>
          <app appid='ohpjpeodokebaeilcpfejcaipbeeekkj'>
            <updatecheck codebase='https://github.com/tucan-plus/tucan-plus/releases/latest/download/tucan-plus-extension-${{ needs.build-and-sign.outputs.version }}.crx' version='${{ needs.build-and-sign.outputs.version }}' status='ok' />
          </app>
        </gupdate>
        EOF
        cat << EOF > pages/updates.json
        {
          "addons": {
            "tucant@selfmade4u.de": {
              "updates": [
                {
                  "version": "${{ needs.build-and-sign.outputs.version }}",
                  "update_link": "https://github.com/tucan-plus/tucan-plus/releases/latest/download/tucan-plus-extension-${{ needs.build-and-sign.outputs.version }}.xpi"
                }
              ]
            }
          }
        }
        EOF
    - if: ${{ inputs.publish }}
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release create --generate-notes v${{ needs.build-and-sign.outputs.version }} out/tucan-plus-extension-${{ needs.build-and-sign.outputs.version }}.xpi out/tucan-plus-extension-${{ needs.build-and-sign.outputs.version }}.crx pages/updates.xml pages/updates.json
    - if: ${{ !inputs.publish }}
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release create --generate-notes --prerelease v${{ needs.build-and-sign.outputs.version }} out/tucan-plus-extension-${{ needs.build-and-sign.outputs.version }}.xpi out/tucan-plus-extension-${{ needs.build-and-sign.outputs.version }}.crx pages/updates.xml pages/updates.json
