name: Rust

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: Swatinem/rust-cache@v2
    - run: cargo install dioxus-cli
    - working-directory: crates/tucan-plus-dioxus
      run: dx bundle --platform web --out-dir ../../tucan-plus-extension/ --base-path public --features direct --release
