name: Test

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - run: |
        export DISPLAY=:0
        sudo Xvfb -ac :0 -screen 0 1280x1024x24 > /dev/null 2>&1 &
        pip install dogtail qecore psutil
        RICH_TRACEBACK=true LOGGING=true qecore-headless --debug --session-type xorg --allow-duplication whoami