name: Test

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - run: |
          nix build -L .#extension-unpacked .#api-server
    - uses: actions/upload-artifact@v4
      with:
        name: tucan-plus-extension-nightly-zip
        path: result/
  test:
    runs-on: self-hosted
    needs: [build]
    steps:
    - uses: actions/checkout@v4
    - env:
        SESSION_ID: ${{ secrets.SESSION_ID }}
        SESSION_KEY: ${{ secrets.SESSION_KEY }}
      run: |
        nix run -L .#test
