name: Test

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - run: |
        pip install dogtail qecore psutil
        PRODUCTION=false RICH_TRACEBACK=true LOGGING=true qecore-headless --debug --session-type xorg --allow-duplication whoami